<article class="Work Work--1">
    <div class="Work__infoGroup">
        <h2 class="Work__title">{{ title }}</h2>
        <p class="Work__material">{{material}}</p>
    </div>
    <div class="Work__pic Work__pic--1"><img src="img/{{image1}}" alt="collage" /></div>
    <div class="Work__pic Work__pic--2"><img src="img/{{image2}}" alt="collage" /></div>
    <div class="Work__pic Work__pic--3"><img src="img/{{image3}}" alt="collage" /></div>
</article>